@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2") format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local('Roboto'), local('Roboto-Regular'), url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2") format('woff2');
}
@page {
  size: letter;
}
body.letter {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  /*justify-content: center;*/
  /*background: #FC5185;
  background: -moz-linear-gradient(-45deg, #69bfcb 0%, #FC5185 100%);
  background: -webkit-linear-gradient(-45deg, #69bfcb 0%, #FC5185 100%);
  background: linear-gradient(135deg, #69bfcb 0%, #FC5185 100%);*/
  background: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  grid-row-gap: 350px;
}
.main_nav_resume {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  /*background: none;*/
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  padding-bottom: 6px;
  left: 0;
  background: white;
}
#header > div > div > nav > ul {
  margin-bottom: 0em !important;
}
.btn-print {
  z-index: 1;
  /*position: absolute;*/
  right: 20px;
  top: 20px;
  font-size: 12px;
  background: #69bfcb;
  color: white;
  padding: 5px 10px;
}
.btn-print:hover {
  background: #FC5185;
  color: white;
}
.point-focus {
  color:#FC5181;
	font-weight: 700!important;
}
.link-print {
  color: #000;
}
.sheet {
  margin: auto;
  transform: scale(1.5);
	background: linear-gradient(102.36deg, rgba(254, 179, 177, 0.1) 0.22%, rgba(79, 82, 255, 0.1) 99.78%);
}
.resume {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13.0736px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 1090.41px;
}
.resume h1 {
  font-size: 2.86em;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}
.resume h2 {
  font-size: 1.43em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}
.resume p {
  margin-bottom: 1em;
}
.resume p:last-child {
  margin-bottom: 0;
}
.resume ul {
  padding-left: 20px;
  margin-bottom: 0em !important;
}
.resume .resume__header, .resume .resume__section {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}
.resume .resume__header {
  padding: 1.5em 2em 0;
}
.resume .resume__section:first-child{
	margin-bottom: 0; /*new*/
}
.resume__section.resume__summary,.resume__section.resume__experience{
	margin-bottom: 1em!important; /*new*/
}
.resume .resume__section {
  margin-bottom: 2em;
}
.resume .resume__section:last-child {
  padding-bottom: 0;
	margin-bottom: 0;
}
.resume .resume__section-title {
  display: flex;
  align-items: center;
  margin-bottom: .8em;
}
.resume .resume__section-title > i {
  /*margin-right: 0.63em;*/
  /*font-size: 1.14em;*/
  /*background-color: #69bfcb;*/
  /*color: #fff;*/
  /*border: 0.25em solid #69bfcb;*/
  /*border-radius: 50%;*/
  /*width: 2.51em;
  height: 2.51em;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*line-height: 1.6;*/
	/*new*/
	color: #222;
	font-size: 14px;
	margin-right: 8px;
	
}
.resume .resume__section-title > h2 {
  margin-top: 0;
  font-size: 1.5em;
  letter-spacing: inherit;
}
.resume .resume__columns {
  overflow: hidden;
 /* padding: 2em 2em 0 2em;*/
  padding-top: 0;
		/*new*/
	 padding: 1em 0 0 2em;
}
.resume .resume__main {
  float: left;
 /* width: 70%;*/
  /*padding-right: 1.5em;*/
	/*new*/
	 width: 65%;
	padding-right: 16px;
}

.resume .resume__side {
  float: left;
  /*width: 30%;*/
	/*new*/
  width: 35%;
	padding: 24px;
	    background-color: hsla(0 0% 93.3% / 0.8);
}

.resume .other-info p > b {
  color: #555;
}
.resume .info-item {
  margin-bottom: 0.2em;
  font-weight: normal;
}
.resume .info-item:last-child {
  padding-bottom: 8px;
}
.resume .info-label {
  display: inline-block;
 /* padding-right: 0.255em;
  padding-left: 0em;*/
  /*font-size: 1.14em;
  min-width: 2.19em;*/
  /*text-align: center;*/
	/*new*/
    padding-right: 8px;
    padding-left: 16px;
}
.resume .info-label:first-child{
	padding-left: 0px;
}
.resume .info-label i {
  /*color: #FC5185;*/
	color: darkcyan;
}
.resume .xp-item {
  margin-bottom: 1em;
}
.resume .xp-item:last-child {
  margin-bottom: 0;
}
.resume .xp-job {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
}
.resume .xp-job span, .resume .xp-job small {
  font-weight: 400;
}
.resume .xp-job small {
  font-size: 0.9em;
}
.resume .xp-date {
  /*font-size: 1em;*/
  margin-bottom: 1em;
  /*color: #FC5185;*/
	/*new*/
	font-size: 0.75em;
}
.resume .extra {
  /*margin-bottom: 0.5em;*/
  font-weight: 600;
}
.resume .extra:last-child {
  margin-bottom: 0;
}
.resume .extra-info small {
  display: inline-block;
  font-size: 0.85em;
  padding: 4px 0;
}
.resume .extra-details, .resume .extra-details__progress {
  border-radius: 6px;
}
.resume .extra-details {
  margin-top: 0.5em;
  background-color: #d1d9e1;
  width: 100%;
  height: 5px;
  position: relative;
}
.resume .extra-details__progress {
  background-color: #5695cd;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.resume .lang-item {
  margin-bottom: 2em;
}
.resume .lang-item:last-child {
  margin-bottom: 0;
}
.resume .lang-label {
  width: 8em;
}
body > footer > div > div > div.three.columns > a {
  padding-left: 4px;
}
.fa-edit:before, .fa-pencil-square-o:before{
	
}
a i.fa.fa-link{
	color:#FC5185;
	cursor: pointer;
}
a .info-text:hover,a i.fa.fa-link:hover{
	cursor: pointer;
}
/* Print version */
@media print {
  body.letter {
    min-width: initial !important;
  }
  .btn-print, .header-print, .footer-print, .none-print {
    display: none !important;
  }
  .sheet {
    transform: scale(1);
    overflow: hidden;
  }
  a.link-print {
    color: #000 !important;
    text-decoration: none;
  }
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none;
  }
  .resume:last-child {
    page-break-after: always;
  }
}
/* Colorful version */
/*@media print {
  body.letter {
    min-width: initial !important;
  }
  .btn-print, .header-print, .footer-print, .none-print {
    display: none !important;
  }
  .sheet {
    transform: scale(1);
    overflow: hidden;
  }
  a.link-print {
    text-decoration: none;
  }
  .resume:last-child {
    page-break-after: always;
  }
}*/