label.required::after {
  content: ' *';
  color: red;
}
@import url("https://use.typekit.net/eea1obh.css");

/* Technical Chairperson style */
div#heading110.panel-heading.headin.nonbackground{
	background-color: #fff!important;
	border-color:#fff!important;
}
div#heading110.panel-heading{
	padding: 10px 0px!important;
}
#technicalCommittee > div > div:nth-child(3) > div.panel.panel-default{
	border-color:#fff!important;
	-webkit-box-shadow: none!important;
    box-shadow: none!important;
}
#heading110 > h4 > a:hover, #heading118 > h4 > a:active, #heading110 > h4 > a:focus, #heading110 > h4 > a::after{
	color: #333!important;
	text-decoration: none!important;
	border-color:#fff!important;
}
#tc-title a::after {
    content: "\f106";
    color: #333;
    top: 0px;
    right: -30px;
    position: absolute;
    font-family: "FontAwesome";
}
#tc-title a[aria-expanded="false"]::after {
    content: "\f107";
}
/*remove focus*/
/**
 * Custom cross-browser styles for keyboard :focus overrides defaults.
 */
*:focus{ 
  outline: 0 !important;
  box-shadow:none!important;
}
:root{ 
  outline: 0 !important;
  box-shadow:none !important;
}
button{
	outline: none;
    border-style: none!important;
}
/**
 * Remove focus styles for non-keyboard :focus.
 */
*:focus:not(.focus-visible){
  outline: 0 !important;
  box-shadow: none !important;
}
:root:not(.focus-visible){
  outline: 0 !important;
  box-shadow: none !important;
}
/*Carousel icons*/
/*a,
a span {
  color: #333 !important;
  text-decoration: none;
}

a:hover,
a span:hover {
  color: #222 !important;
  text-decoration: none;
}*/
.section_quick_link {
  overflow: hidden;
  position: relative;
  color: #333;
  background: rgba(54, 14, 38, 0);
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel .slick-arrow {
  position: absolute;
  top: 50%;
  /*background: url('../image/rounded-up.svg') center no-repeat;*/
  /*fill: #5a2a82;*/
  /*border-radius: 3px;*/
  /*border: 1px solid #5a2a82;*/
  /*background-color: #5a2a82;*/
  width: 41px;
  height: 41px;
  text-indent: -10000px;
  z-index: 2;
  margin-top: -21px;
  cursor: pointer;
}
.carousel-item {
  /* background: rgba(255, 255, 255, 1);*/
  margin: 0 0.6rem;
  border-radius: 50%;
}
.carousel-item:hover {
  cursor: pointer;
}
.carousel .slick-arrow.slick-next {
  transform: rotate(-45deg);
	border: solid #80539c !important;
    border-width: 0 2px 2px 0 !important;
    display: inline-block !important;
    padding: 10px;
    background: transparent !important;
    border-radius: 1px !important;
    position: absolute;
    top: 50%;
}
.carousel .slick-arrow.slick-prev {
  transform: rotate(135deg);
	border: solid #80539c !important;
    border-width: 0 2px 2px 0 !important;
    display: inline-block !important;
    padding: 10px;
    background: transparent !important;
    border-radius: 1px !important;
    position: absolute;
    top: 50%;
}
.section_quick_link h2 {
  text-align: center;
  margin-bottom: 50px;
}
.section_quick_link .carousel {
  position: relative;
	margin-left: -20px;
	margin-right: -18px;
	margin-bottom: 20px;
}
.section_quick_link .carousel .carousel-item a {
  background: transparent;
  text-align: center;
  /*height: 178px;*/
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  top: 50%;
  left: 50% !important;
  transform: translate(0%, 5%);
  border-radius: 50%;
  color: #5a2a82 !important;
}
.section_quick_link .carousel .carousel-item a span {
  font-size: 15px;
  margin-top: 1rem;
  font-weight: 600;
  display: block;
}
.section_quick_link .carousel .carousel-item a:hover span {
  color: #5A2A82 !important;
}
.section_quick_link .carousel .carousel-item a:hover {
  text-decoration: none;
}
.section_quick_link .carousel .slick-arrow.slick-next {
  right: -56px;
}
.section_quick_link .carousel .slick-arrow.slick-prev {
  left: -58px;
}
/* Font Awesome Icons */
.section_quick_link .carousel .carousel-item a i {
  font-family: FontAwesome;
  margin: 0 auto;
  font-size: 5rem;
  font-style: normal;
}
.dropdown:hover .dropdown-content{
	width: 227px;
}
/* Media Queries */
@media (max-width: 992px) and (min-width: 768px) {
  /*.section_quick_link .carousel .slick-arrow.slick-next {
    right: 0;
  }*/
}
@media (max-width: 1200px) and (min-width: 992px) {
  .section_quick_link .carousel .slick-arrow.slick-next {
    right: -50px;
  }
  .section_quick_link .carousel .slick-arrow.slick-prev {
    left: -50px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  /*.section_quick_link .carousel .slick-arrow.slick-prev {
    left: 0;
  }*/
	.section_quick_link .carousel .carousel-item a{
		transform:translate(0%, 0%);
	}
  .section_quick_link .carousel .slick-arrow.slick-next {
    right: -20px;
  }
  .section_quick_link .carousel .slick-arrow.slick-prev {
    left: -20px;
  }
}
@media (max-width: 768px) {
	.section_quick_link .carousel{
		margin-right: 15px;
		margin-left: 15px;
	}
	.section_quick_link .carousel .carousel-item a{
		transform:translate(0%, 12%);
	}
	
	.dropdown:hover .dropdown-content{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
  .section_quick_link .carousel .carousel-item a {
    padding-top: 0.8rem;
  }
  .section_quick_link .carousel .carousel-item a span {
    font-size: 16px;
    margin-top: 0.5rem;
  }
  .carousel .slick-arrow {
    height: 50px;
    width: 50px;
  }
  .section_quick_link .carousel .slick-arrow.slick-next {
    right: -40px;
  }
  .section_quick_link .carousel .slick-arrow.slick-prev {
    left: -40px;
  }
}
/*Keynote*/
#keynote div.container {
  padding: 0;
}
/*scoll to Top*/
a.scroll-to-top.visible {
  filter: alpha(opacity=95);
  opacity: 0.95;
}
a.scroll-to-top {
  bottom: 0;
}
a.scroll-to-top {
  bottom: 20px;
  left: 10px;
}
a.scroll-to-top {
  -moz-border-radius: 7px 7px 0 0;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-border-radius: 7px 7px 0 0;
  -webkit-transition: all 0.25s;
  background: #fcaf1a;
  border-radius: 7px 7px 0 0;
  bottom: 0px;
  color: #FFF;
  display: block;
  height: 9px;
  opacity: 0;
  padding: 13px 0 27px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s;
  width: 49px;
  z-index: 1040;
  cursor: pointer;
}
.icon-chevron-up:before {
  content: url("../image/rounded-up.svg");
  width: 15px;
  height: auto;
  padding-top: 3px;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/*icon dropdown message*/
.committeeMembers p {
  margin-bottom: 3px !important;
}
/*icon hover dropdown content*/
/*.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*.dropdown-content:before {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid white;
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  z-index: 1;
}*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: calc(100% + 5px);
  /*left: -22px;*/
  padding: 10px 0px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  z-index: 1000;
	max-width: 227px;
  height: 170px;
    margin-top: -170px;
}
.desc {
  padding: 10px;
  text-align: center;
  z-index: 1000;
	position: absolute;
	width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible!important;
  z-index: 1000;

}
/*Sponsers*/
.sponsors-row {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors-row li {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px 30px;
  margin: 10px;
  flex: 0 0 300px;
}
.sponsors-row li span {
  background-color: #fff;
  bottom: -9px;
  color: #393938;
  font-size: 15px;
  left: 50%;
  margin: 0 auto;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
}
.sponsors-row li:hover {
  box-shadow: 0 1px 13px rgba(0, 0, 0, .25);
}
/*Social Icons*/
#socialIcons {
  margin: 0;
  padding: 0;
}
#socialIcons ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
#socialIcons ul li {
  list-style: none;
}
#socialIcons ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}
#socialIcons ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
#socialIcons ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: .5s;
}
#socialIcons ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}
#socialIcons ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}
#socialIcons ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}
#socialIcons ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}
#socialIcons ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
.fa-facebook:before {
  content: url("../image/icons8-facebook.svg");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.fa-twitter:before {
  content: url("../image/icons8-twitter-circled.svg");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.fa-google-plus-g:before {
  content: url("../image/icons8-google-plus.svg");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.fa-linkedin:before {
  content: url("../image/icons8-linkedin-circled.svg");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.fa-instagram:before {
  content: url("../image/icons8-instagram.svg");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
div#rules {
  margin-top: 77px;
  text-align: center;
}
div#socialIcons {
  text-align: right;
  margin-top: 2px;
  padding: 0 15px;
}
/*card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-container {
  padding: 15px 16px;
  text-align: center;
}
.keynoteTopic {
  font-size: 18px;
  color: #5a2a82;
}
.keynoteTopic:hover {
  color: #5a2a82;
}
/*Flip card*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 20px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-image: url("../image/purple-facet-banner-1900x500.jpg.imgo.jpg");
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p:last-child {
  line-height: 18px !important;
  padding: 0 18px;
  text-align: left;
}
.navbar-default .navbar-toggle {
  background-color: white !important;
  margin-left: 255px;
}
/*Speaker*/
.speakers-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
}
.speakers-wrap .speaker {
  max-width: 210px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
  position: relative;
}
.speakers-wrap .speaker:hover {
  text-decoration: none;
}
.speakers-wrap .speaker .photo {
  /*background-color: #ddd;*/
  /*height: 180px;*/
  margin-bottom: 20px;
}
.speakers-wrap .speaker .info .name {
  color: #5a2a82;
  font-size: 20px;
}
.speakers-wrap .speaker .info p {
  text-align: center;
  line-height: 1.3;
}
.speakers-wrap .speaker .info .role {
  color: #393938;
  font-size: 14px;
}
.photo img {
  border-radius: 50%;
  border: 1px solid #5a2a82;
}
/*Speaker*/
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #5a2a82 !important;
}
/*Agenda*/
.simple-section.agenda-section h4 {
  margin-bottom: 0;
  border: none
}
.simple-section.agenda-section h4 span {
  display: inline-block;
  padding-bottom: 0;
  background: #5a2a82;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 35px
}
.simple-section.agenda-section h4 span.green {
  background: green
}
.simple-section.agenda-section h4 span.red {
  background: #8E162C
}
/*.agenda-rows .agenda-row:first-child .agenda-col:last-child {padding-top: 10px}*/
.agenda-rows .agenda-row:last-child .agenda-col:last-child {
  padding-bottom: 40px
}
.agenda-rows .agenda-row:last-child p, .agenda-rows .agenda-row:last-child h3 {
  border-bottom: none
}
.agenda-row {
  display: table;
  width: 100%
}
.agenda-col {
  display: table-cell;
  vertical-align: middle
}
.agenda-row .agenda-col:first-child {
  vertical-align: top;
  padding-top: 18px;
  width: 100px
}
.agenda-row .agenda-col:last-child { /*border-left: 4px solid #ddd; */ padding: 0 0 0 30px;
  background: url("../image/circle-yellow.png") no-repeat left top 24px / 10px, url("../image/timeline-strip-purple.png") repeat-y left 3px top
}
.agenda-row .agenda-col1:last-child { /*border-left: 4px solid #ddd; */ padding: 0 0 0 30px;
  background: url("../image/circle-yellow.png") no-repeat left top 0px / 10px, url("../image/timeline-strip-purple.png") repeat-y left 3px top;
  padding-bottom: 20px;
}
h3 .agendaTitle {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 20px;
  display: block;
  text-align: left;
  color: #343434;
  margin: 20px 0 16px
}
.sectionTitle {
  margin: 0 0 80px;
  font-size: 32px;
  color: #5a2a82;
  font-weight: 400;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.sectionTitle-1 {
  margin: 0 0 30px;
  font-size: 34px;
  color: #5a2a82;
  font-weight: 400;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.agenda-row.no-speaker h3 {
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee
}
.agenda-row .speaker {
  padding-left: 60px;
  position: relative
}
.agenda-row .speaker:last-child {
  border-bottom: 1px solid #eee
}
.agenda-row .speaker-name {
  font-size: 14px;
  font-weight: 700;
  padding-top: 3px
}
.agenda-row .speaker img {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0
}
.agenda-row .speaker.no-spk-img {
  padding-left: 0
}
.agenda-row span.designation {
  display: block;
  font-size: 12px
}
.agenda-row label {
  display: block;
  font-size: 11px;
  color: #666
}
.agenda-row p {
  font-size: 13px;
  margin: 10px 0 0;
  padding-bottom: 0px;
  color: #393938;
}
.agenda-row p:last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee
}
/*.time-display {font-family: 'Open Sans', sans-serif; width: 150px; height: 110px; background-color: #003060; border-radius: 5px; text-align: center; padding: 25px 0; display: inline-block; vertical-align: middle; color: #f9ffff; font-size: 24px; font-weight: bold; line-height: 30px; margin-right: 30px}*/
.time-display {
  width: 155px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  color: #777;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px
}
.time-display img {
  margin-bottom: 0
}
.mh-60 {
  min-height: 60px
}
.agenda-col ul {
  list-style-type: disc !important;
  /*margin-left: 15px;*/
}
.agenda-col ul li {
  font-size: 15px !important;
  color: #393938 !important;
  background-image: none !important;
  padding-left: 0 !important;
  padding-bottom: 10px;
}
.agenda-tracks {
  border-bottom: none;
}
.agenda-tracks:first-child {
  margin: 10px 0 0 0 !important;
}
.agenda-tracks li {
  background-image: none !important;
}
.agenda-tracks li a {
  background-color: #5a2a82;
  color: #FFF;
	text-decoration: none;
}
.agenda-tracks > li.active > a:visited {
  text-decoration: none;
}
.agenda-tracks .active {
  text-decoration: underline;
}
.agenda-tracks li a:hover, .agenda-tracks li a:focus, .agenda-tracks li a:active, .agenda-tracks li.active a {
  text-decoration: underline;
  color: #FFF;
}
.agenda-tracks > li.active > a {
  text-decoration: none;
  background-color: #5a2a82;
  cursor: pointer;
}
.agenda-tracks > li.active > a:hover, .agenda-tracks > li.active > a:focus {
  text-decoration: underline;
  color: #FFF;
  background-color: #5a2a82;
}
.agenda-days {
  border-bottom: none;
}
.agenda-days:first-child {
  margin: 10px 0 0 0 !important;
}
.agenda-days li {
  background-image: none !important;
  color: #111c24;
  margin-bottom: 10px;
}
.agenda-days li a {
  background-color: #fcaf1a;
  color: #111c24;
  cursor: pointer;
  /*font-size: 18px;*/
  padding: 10px 40px;
  margin-bottom: 20px;
	text-decoration: none;
}
.agenda-days > li.active > a:visited {
  text-decoration: none;
}
.agenda-days .active {
  text-decoration: underline;
}
.agenda-days li a:hover, .agenda-days li a:focus, .agenda-days li a:active, .agenda-days li.active a {
  text-decoration: underline;
  color: #111c24;
  background-color: #fcaf1a !important;
}
.agenda-days > li.active > a {
  text-decoration: none;
  background-color: #fcaf1a;
  cursor: pointer;
}
.agenda-days > li.active > a:hover, .agenda-days > li.active > a:focus {
  text-decoration: underline;
  /*color: #111c24;*/
  background-color: #fcaf1a;
}
/*Agenda*/
.slim-bar ul > li, .slim-bar ul > li > a {
  color: #000 !important;
}
img:not(.no-fix-width) {
  margin-right: auto;
  margin-left: auto;
}
div#agenda {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
#regBtn:hover {
  text-decoration: underline;
  background-color: #fcafla !important;
}
#RegisterSec {
  background-image: url("../image/purple-facet-banner-1900x500.jpg.imgo.jpg");
  padding: 20px;
}
/*.foot_bootom,
.padding .col-lg-2 a img {
    display: none!important
}*/
.foot_bootom .col-sm-6 {
  display: block !important;
}
.info-bg {
  background: rgba(0, 0, 0, 0.5);
  z-index: 555;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.video-sec {
  overflow: hidden;
  position: relative;
  text-align: center;
  min-height: 640px;
  height: 710px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.slim-bar {
  background: #fcaf1a;
}
.header-content {
  background-color: #5a2a82;
}
.checklist {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.checklist li {
  padding-left: 35px;
  background: url(https://vepimg.b8cdn.com/uploads/vjfnew/736/uploads/vjf/content/misc/15852051551585058561check.png)no-repeat left 4px;
  margin-bottom: 12px;
}
.main_top_area {
  background: url(../images/banner.jpg) 50% 50%/100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto
}
.logo-left-en img {
  max-width: 300px;
}
.footer-section-1 img {
  height: 60px;
  margin-top: 15px
}
#LoginBtn, #regBtn {
  border: 1px solid #fcaf1a;
  margin-left: 10px;
  background: #fcaf1a;
  color: #111c24 !important;
}
#LoginBtn:hover, #regBtn:hover {
  background-color: #fcaf1a !important;
}
.emp-video-tag {
  max-width: 100%
}
.navbar-default {
  padding-top: 15px;
}
.navbar-toggle {
  margin-top: -62px
}
.logo-left-en {
  text-align: left !important
}
.row.padding {
  padding-top: 20px
}
.modal-header {
  background-color: #5a2a82;
}
.participating img {
  height: auto
}
.top-right-section {
  padding-top: 45px
}
.main_top_area {
  border-bottom: none
}
.main_top_area .container-wrp {
  background: rgba(0, 0, 0, .5)
}
.popup {
  background: 0 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.popup h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em !important;
  margin-top: 0px;
  text-transform: none;
  font-weight: 700
}
.popup h2 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 3.5em;
  font-weight: 700
}
.col-sm-6 a img {
  padding-top: 45px !important;
  margin-bottom: 23px !important
}
.padding a img {
  padding-top: 0 !important;
  /*    padding-bottom: 0!important;
    margin-bottom: 0!important;*/
  margin-top: 20px;
  height: 120px;
  margin-bottom: 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  text-align: right
}
#footer, footer {
  border-top-color: #fcaf1a !important;
  background-color: #fff !important;
  padding-bottom: 12px;
  background-image: url("../image/purple-facet-banner-1900x500.jpg.imgo.jpg");
}
.footer-section-2 img {
  margin-top: 40px
}
#footer .padding {
  padding-top: 9px
}
.btn-darkgrey {
  background-color: #f0ab00 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.container-parent {
  border-bottom: 2px solid #eee
}
.custom-para-info {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center
}
#banner-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
#banner-slider .carousel, #banner-slider .carousel-inner, #banner-slider .item, #banner-slider .item > img {
  height: 100% !important;
  width: 100% !important
}
#time {
  padding: 35px 0 28px
}
#time li {
  background: #fffffa !important;
  border-radius: 5px;
  width: 95px;
  padding: 15px 5px 10px;
  margin-right: 14px
}
#time p {
  background: 0 0 !important;
  color: #646e81;
  height: auto;
  line-height: 1em;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
#time span {
  margin-top: 0;
  margin-left: 0;
  color: #646e81;
  left: 0;
  padding-top: 0
}
.popup {
  margin-bottom: 0
}
.two-btns {
  margin: 18px 0 0px;
}
.two-btns .btn {
  padding: 15px 50px !important;
  font-size: 1.3em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px
}
.two-btns .btn:hover {
  text-decoration: underline;
}
.two-btns .green-btn, .two-btns .green-btn:hover {
  background-color: #fcaf1a;
  color: #111c24 !important;
  /*box-shadow: 0 8px 0 0 #c7c7c7;*/
  margin-right: 15px;
  font-weight: 600;
}
.two-btns .white-btn {
  box-shadow: 0 8px 0 0 #0095cc
}
#get-your-own .two-btns .green-btn {
  box-shadow: 0 8px 0 0 #c7c7c7 !important
}
.header-bottom {
  padding: 10px;
  color: #393939;
  background: #f7f7f5
}
.header-bottom .list-inline {
  margin-bottom: 5px
}
.header-bottom ul li {
  padding: 0 5px;
  display: inline-block;
  vertical-align: top
}
.header-bottom .details-img {
  margin-right: 10px
}
.header-bottom .details-img img {
  height: 70px;
  width: 70px
}
.header-bottom .details-box {
  width: 272px;
  overflow: hidden;
  text-align: left;
  padding: 5px
}
.header-bottom .details-info h4 {
  margin: 15px 0 3px
}
.header-bottom .details-info p {
  line-height: 1em;
  font-size: 12px
}
.simple-section {
  color: #393938;
  text-align: left;
  padding: 80px 5px !important;
  border-bottom: 1px solid #e0e0e0
}
.simple-section h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 0 0 20px;
  font-weight: 400;
  color: #2c2c2c
}
h3 .agendaTitle {
  margin: 0 0 60px;
  font-size: 30px;
  color: #5a2a82;
  font-weight: 400;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.simple-section ol {
  padding-left: 16px;
  padding-top: 6px
}
.simple-section ol li {
  padding-bottom: 10px;
  padding-left: 8px
}
.simple-section.inner-section h2 {
  font-size: 22px;
  text-align: left;
  margin: 0 0 20px;
  font-weight: 600;
  color: #414141
}
.simple-section.inner-section ol {
  padding-left: 35px
}
.simple-section.inner-section ol li, .simple-section.inner-section ul li {
  padding-bottom: 6px;
  padding-left: 8px
}
.simple-section p {
  font-size: 15px;
  margin-bottom: 16px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#presenters-section h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px
}
#about-section p {
  font-size: 16px;
  line-height: 1.5em
}
.schedule-container {
  color: #414141;
  border-bottom: 1px solid #e9e8e8;
  padding: 13px 0 5px;
  width: 100%
}
.schedule-container ul li {
  vertical-align: top
}
.day-display {
  width: 150px;
  height: 110px;
  background-color: #22AECF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  color: #f9ffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em
}
.schedule-box {
  width: 230px;
  min-height: 110px;
  border-left: 5px solid #22AECF;
  padding: 8px 8px 8px 35px;
  position: relative
}
.schedule-box img {
  position: absolute;
  width: 15px;
  left: 11px;
  top: 12px
}
.time-slot-time {
  padding: 0;
  margin: 0 0 2px;
  font-size: 14px;
  font-weight: 700;
  color: #464646
}
.time-slot-header {
  padding: 0;
  margin: 0 0 3px;
  color: #292929
}
.time-slot-text {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.3em
}
.btn-schedule {
  margin-top: 35px
}
#cta50-section {
  text-align: center;
  background: #e9573b;
  color: #f8f9ff
}
.cta50-text, .cta50-text h1 {
  text-align: right
}
.cta50-text h1 {
  font-family: 'Roboto', sans-serif;
  color: #f8f9ff
}
.btn-cta50-container {
  text-align: left
}
.btn-cta50 {
  background-color: #fffff6;
  box-shadow: 0 8px 0 0 #931502;
  color: #e9572f;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2px;
  padding: 15px 50px;
  border: 0
}
.btn-cta50:hover {
  text-decoration: underline;
  color: #e9571f
}
#cta60-section, #cta60-section h1 {
  color: #fcffff;
  text-align: center
}
.featured-presenter {
  border-bottom: 1px solid #d7d7d8;
  overflow: hidden;
  padding: 35px
}
.featured-speaker-img {
  border: 10px solid #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  float: left;
  margin-right: 30px;
  max-height: 305px
}
.featured-presenter p {
  font-size: 20px;
  line-height: 1.5em
}
#cta60-section {
  background: #e9553f
}
#cta60-section h3 {
  text-align: center
}
.btn-cta60, .btn-cta60:hover {
  /*background-color: #fbffff;*/
  /*box-shadow: 0 8px 0 0 #931500;*/
  color: #e9543f;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 15px;
  padding: 15px 50px;
  border: none;
  text-decoration: underline;
}
.navbar-form.navbar-left {
  float: right
}
.navbar-nav > li > a {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  text-decoration: none;
  color: #fff;
  padding: 12px 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none
}
.navbar-collapse .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.navbar-collapse .navbar-form {
  display: inline-block;
  float: none !important;
  margin: 0;
  vertical-align: middle
}
.navbar-collapse {
  display: block !important
}
.navbar-collapse .nav > li {
  display: inline-block !important
}
.navbar-header {
  display: none !important
}
.col-lg-9.top-right-section {
  float: right;
  text-align: right
}
.faq.padding {
  padding: 0
}
.faq .panel {
  background: #efefef;
  padding: 15px 25px;
  margin: 0 0 10px;
  border: none;
  border-radius: 8px
}
.faq .panel-heading {
  padding: 0 !important;
  background: 0 0 !important
}
.faq h4.panel-title a {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  line-height: 24px;
  color: #393938;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left !important;
}
.cus-accordian .panel-default > .panel-heading + .panel-collapse > .panel-body {
  text-align: left;
}
.faq .panel-collapse {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer
}
.faq .panel-collapse .panel-body {
  width: 100% !important;
  padding-bottom: 0;
  border: none !important;
  padding-top: 9px;
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif !important;
  line-height: 24px !important;
  color: #666666 !important
}
.featured-presenter p a {
  color: #f60
}
#video-section {
  color: #393937
}
.about-video-wrapper {
  margin: auto 30px auto auto;
  width: 500px;
  float: left
}
.section-main-header {
  margin: 0 0 5px;
  padding: 0
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 5px;
  height: 0;
  overflow: hidden;
  margin: auto auto 10px
}
.video-container embed, .video-container iframe, .video-container img, .video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: auto
}
#video-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5em
}
#partners-section .col-lg-3 {
  float: none;
  display: inline-block;
  width: auto;
  vertical-align: bottom
}
#partners-section .col-lg-3 img {
  width: 200px
}
.dateList {
  text-align: left;
  margin-bottom: 5px
}
.dateList span.cal-icon img {
  width: 25px;
  height: 25px
}
.sponserSec {
  margin-bottom: 35px;
  text-align: center
}
@media only screen and (max-width:1200px) {
  div#rules {
    text-align: center;
  }
  #socialIcons ul li a {
    margin: 0 5px;
    width: 50px;
    height: 50px;
  }
  .sponsors-row {
    display: block;
  }
  .sponsors-row li {
    text-align: center;
  }
  .logo-container {
    text-align: center
  }
  #about-section p, .featured-presenter p {
    line-height: 1.5em;
    font-size: 18px
  }
  .day-display {
    width: 120px;
    font-size: 20px
  }
  .details-box {
    width: 220px
  }
  .about-image-container ul li img {
    width: 250px
  }
  .schedule-box {
    width: 180px
  }
  .buy-box {
    width: 220px
  }
  .buy-feature-list {
    font-size: 12px
  }
  .faq-list-container, .testimonial-box {
    width: 100%
  }
}
@media only screen and (max-width:992px) {
	
  div#socialIcons {
    text-align: right !important;
  }
  #socialIcons ul li {
    display: block;
  }
  #socialIcons ul li a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .navbar-collapse .navbar-nav {
    padding-top: 20px;
    margin-left: 60px;
  }
  #cta50-section, .btn-cta50-container, .cta50-text, .dateList, .top-menu-container ul {
    text-align: center
  }
  .col-lg-9.top-right-section, .col-lg-9.top-right-section .container-fluid, .logo-left-en {
    text-align: center;
    padding: 0
  }
  .navbar-nav {
    margin: 0
  }
  .top-right-section {
    padding-top: 0px;
  }
  header.smaller {
    position: relative
  }
  .hero-info-container h1 {
    margin: 10px;
    padding: 0;
    font-size: 2.5em;
    color: #fffffc
  }
  .hero-info-container h2 {
    font-size: 1.2em
  }
  .details-box {
    width: 320px
  }
  .about-image-container {
    width: 100%;
    float: none
  }
  .about-image-container ul li img {
    width: 285px
  }
  .video-wrapper {
    margin: auto 0 auto auto;
    max-width: 100%;
    float: none
  }
  #video-section h1 {
    margin-top: 30px
  }
  .day-display {
    width: 100px;
    font-size: 20px
  }
  .schedule-box {
    width: 134px
  }
  .buy-box {
    width: 265px;
    margin-bottom: 15px
  }
  .partners-container ul li img {
    width: 145px
  }
  .video-inline-list li {
    width: 32%
  }
}
@media only screen and (max-width:767px) {
  /*.container{
		padding-right: 15px!important;
    padding-left: 15px!important;
	}*/
  h3, .h3 {
    font-size: 20px;
    line-height: 1.3;
  }
  /*.dropdown {
    padding-bottom: 25px;
  }*/
	.dropdown:hover .dropdown-content{
		margin-top: -148px;
	}
	/*.desc{
		margin-top: 10px;
		left: 0;
		top: 0;
		
	}*/
	.dropdown:hover .dropdown-content{
		max-height: 145px;
		padding-bottom: 0px;
		width: 250px;
	}
	.dropdown-content{
		margin-top: -100px;
	}
  .padding {
    text-align: center;
  }
  .speakers-wrap .speaker .info .name {
    font-size: 20px;
  }
  .speakers-wrap .speaker {
    max-width: 50%;
  }
  /*	.speaker .info{
		margin-top: 120px;
	}*/
  .simple-section p {
    margin-bottom: 10px;
  }
  .sectionTitle {
    font-size: 32px;
    margin: 0 0 60px;
  }
  .simple-section {
    padding: 60px 5px !important;
  }
  .padding a img {
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #footer, footer {
    padding-bottom: 0px;
  }
  .sponsors-row {
    display: block;
  }
  .sponsors-row li {
    margin: 15px 0;
  }
  .card {
    margin: 15px 0 0 0;
  }
  .col-sm-4.text-center {
    padding-left: 0px;
    padding-right: 0px;
  }
  img#logoTsmc {
    margin-top: 30px;
  }
  .agenda-row .agenda-col:last-child {
    padding: 0 0 0 20px;
  }
  #vid {
    width: 100%;
  }
  .video-sec {
    min-height: auto;
    height: auto;
  }
  .navbar-default {
    padding-top: 0
  }
  .logo-left-en img {
    margin-top: 20px !important;
    height: 60px !important;
  }
  .jad-logo-mob {
    margin-top: 12px
  }
  .navbar-collapse {
    margin-top: 40px
  }
  .popup {
    width: 100%;
    padding: 0 10px 35px
  }
  .popup h1 {
    font-size: 2.5em !important;
    margin-top: 20px
  }
  .popup h2 {
    font-size: 1.2em !important
  }
  .col-lg-9.top-right-section, .logo-left-en {
    padding: 0 20px;
    margin-top: 5px;
  }
  .logo-container {
    text-align: center;
  }
  .two-btns button {
    max-width: 274px;
  }
  .two-btns button.green-btn {
    margin-top: 0;
  }
  #time li {
    width: 60px;
    padding: 15px 5px 10px;
    margin-right: 5px;
  }
  #time p {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    min-width: 40px;
  }
  #time span {
    font-size: 12px;
    width: 100%
  }
  .header-bottom ul li {
    width: 100%;
    vertical-align: top
  }
  .header-bottom .details-box {
    margin: 0 auto
  }
  .btn-cta50 {
    color: #22aecf
  }
  .text-center {
    text-align: center !important
  }
  .participating.sponsors {
    padding-top: 0
  }
  .participating img {
    margin: 0
  }
  .faq .panel-title {
    font-size: 14px
  }
  .faq .panel-heading {
    padding: 10px 45px 10px 15px
  }
  .counter-box {
    width: 90px
  }
  .header-bottom .details-box {
    width: 214px
  }
  .about-image-container ul li img {
    width: 257px
  }
  .day-display-container {
    width: 100%
  }
  .day-display {
    width: 100px;
    font-size: 20px
  }
  .schedule-box, .video-inline-list li {
    width: 100%
  }
  .two-btns button.btn {
    padding: 15px 12px !important;
    width: 95%
  }
  #sbg-1 img, #sbg-2 img, #sbg-3 img {
    display: none
  }
  .navbar-collapse .nav, .navbar-header {
    display: block !important;
    margin-top: 2px !important;
    margin-left: auto;
    margin-right: auto;
  }
  #sbg-1 {
    background: url(https://vepimg.b8cdn.com/uploads/vjf/134-pdn/bg-sm-1.jpg) left top/100% 100% no-repeat
  }
  #sbg-2 {
    background: url(https://vepimg.b8cdn.com/uploads/vjf/134-pdn/bg-sm-2.jpg) left top/100% 100% no-repeat
  }
  #sbg-3 {
    background: url(https://vepimg.b8cdn.com/uploads/vjf/134-pdn/bg-sm-3.jpg) left top/100% 100% no-repeat
  }
  .navbar.navbar-default {
    margin-bottom: 0;
    min-height: 0
  }
  .navbar-header {
    margin-top: -15px
  }
  .navbar-collapse .nav > li {
    display: block !important;
    text-align: center;
    border-bottom: 1px solid #eee
  }
  .navbar-default .navbar-collapse {
    display: none !important;
    text-align: center;
    margin-top: 8px
  }
  .navbar-default .navbar-collapse.in, .navbar-default .navbar-form {
    display: block !important;
    text-align: center
  }
  .dateList {
    text-align: center
  }
}
@media only screen and (max-width:480px) {
  /*.container{
		padding-right: 15px!important;
    padding-left: 15px!important;
	}*/
  /*.speaker .info{
		margin-top: 90px;
	}*/
	  .section_quick_link .carousel .slick-arrow.slick-next {
    right: 0px;
  }
  .section_quick_link .carousel .slick-arrow.slick-prev {
    left: 0px;
  }
  .padding a {
    margin-bottom: 0px;
    text-align: center !important;
  }
  div#rules {
    margin-top: 10px;
    text-align: center;
  }
  div#socialIcons {
    text-align: center !important;
    margin-top: 0px;
  }
  div.logoImage {
    margin-top: -30px;
  }
  img #logoTsmc {
    padding-top: 40px !important;
    height: 80px !important;
  }
  #globalfoundries img {
    height: 75px !important;
  }
  .info-bg {
    background: rgba(0, 0, 0, 1);
    position: inherit;
  }
  .hero-info-container {
    text-align: center;
    padding: 20px 0 60px
  }
  .number {
    font-size: 25px
  }
  .counter .list-inline li {
    padding-left: 0;
    padding-right: 0
  }
  .counter-box {
    padding: 15px 5px;
    width: 50px
  }
  .duration {
    font-size: 9px
  }
  .popup {
    padding-bottom: 0
  }
  .popup h1 {
    font-size: 2em !important
  }
  .popup h2 {
    margin-bottom: 30px
  }
  .two-btns .green-btn, .two-btns .green-btn:hover {
    margin-right: 0;
  }
  h1 {
    font-size: 28px !important
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-left: 0;
    padding-right: 0
  }
  .header-content {
    background: 0 0;
    background-color: #5a2a82;
  }
  .header-content .navbar-collapse .btn-info {
    margin: 8px 0
  }
  .logo-left-en {
    text-align: left !important
  }
  .col-lg-9.top-right-section {
    margin-top: -30px;
    float: none
  }
}
.section-heading {
  font-weight: 300;
  font-size: 36px;
  color: #888;
  margin-top: 45px
}
.tmdi-heading {
  margin: 30px 0 25px;
  border-bottom: 1px solid #d6d6d6
}
.tmdi-heading h4 {
  color: #2cafe3;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10px;
  float: left
}
.tmdi-heading .carousel-control {
  position: relative;
  top: auto;
  left: auto;
  background: 0 0;
  display: inline-block;
  opacity: 1;
  margin-top: 6px
}
.tmdi-heading .left.carousel-control {
  background: url(https://vepimg.b8cdn.com/uploads/vjf/133-mtdi/icon-prev.png) no-repeat;
  width: 25px;
  height: 21px;
  margin-right: 10px
}
.tmdi-heading .right.carousel-control {
  background: url(https://vepimg.b8cdn.com/uploads/vjf/133-mtdi/icon-next.png) no-repeat;
  width: 25px;
  height: 21px
}
.carousel-inner .item .col-sm-3:first-child, .carousel-inner .item .col-sm-4:first-child {
  padding-left: 0
}
.carousel-inner .item .col-sm-4:last-child {
  padding-right: 0 !important
}
.carousel-inner .item p {
  color: #333;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 400;
  margin: 0
}
.carousel-inner .item span {
  display: block;
  color: #888;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 300
}
.carousel-inner .item label {
  display: block;
  color: #666;
  font-size: 12px;
  padding: 20px 0 0;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase
}
.carousel-inner .item p.description {
  color: #666;
  font-size: 14px;
  font-weight: 300
}
.carousel-inner.sm-carousel .item p {
  font-size: 14px;
  padding-top: 8px
}
#virtual-tour .section-heading {
  padding-bottom: 20px
}
#virtual-tour .col-xs-2 {
  width: 20% !important
}
#virtual-tour .col-xs-2 .vt-thumb {
  padding-bottom: 12px
}
#virtual-tour .col-xs-2 img {
  max-height: 107px !important;
  width: 100%;
  border: 1px solid #7d7d7d
}
#virtual-tour h3 {
  padding: 15px 0 24px;
  margin: 0
}
#virtual-tour .col-sm-7 img {
  border: 1px solid #7d7d7d
}
#virtual-tour .col-sm-5 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #666
}
#virtual-tour .tmdi-heading {
  margin: 0;
  border-bottom: none;
  height: 40px
}
.vt-thumb.selected {
  background: url(https://vepimg.b8cdn.com/uploads/vjf/133-mtdi/icon-thalay-noo.png) center bottom no-repeat
}
@media (min-width:992px) {
	
  .container {
    min-width: 980px !important;
  }
  .vjf-header p#announcement-section {
    display: inline-block
  }
  .top-search {
    float: right;
    max-width: 100%;
    width: 300px
  }
  .top-search .typeahead.dropdown-menu li {
    overflow: hidden
  }
	.dropdown:hover .dropdown-content{
		height: 163px;
		padding-bottom: 0px;
		margin-top: -170px!important;
		margin-left: 0px!important;
		max-height: 180px!important;
	}
}
#Prev-Next-Booth-Btns {
  position: relative !important;
  height: auto !important
}
@media (min-width: 780px) {
	.dropdown:hover .dropdown-content{
		margin-top: -185px!important;
	}
}
@media (min-width: 768px) {
  .container {
    max-width: 740px !important;
  }
  .ten-columns > .col-sm-2 {
    width: 20%;
  }
	.dropdown:hover .dropdown-content{
		height: 170px;
    padding-bottom: 0px;
    margin-top: -170px!important;
    margin-left: 4px;
    max-width: 165px;
	}
}
@media (max-width: 767px) and (min-width: 480px) {
	.section_quick_link .carousel .slick-arrow.slick-next{
		    right: 0px;
	}
	.section_quick_link .carousel .slick-arrow.slick-prev {
    left: 0px;
}
	.navbar-default .navbar-toggle {
    margin-left: 425px!important;
}
}

@media (min-width: 1440px) {
.dropdown:hover .dropdown-content{
		height: 163px;
		padding-bottom: 0px;
		margin-top: -165px!important;
    margin-left: 20px;
	min-width: 227px!important;
	}
  .container {
    max-width: 1420px !important;
  }
}
.modal {
  overflow-y: auto;
}
.modal-open {
  overflow: auto;
}
.modal-open[style] {
  padding-right: 0px !important;
}
/* Agenda */
.session-box {
  padding: 0px 25px;
  margin-top: 30px;
  position: relative;
  margin-left: 100px;
}
.left-border-blue {
  border-left: 6px solid #0160ba;
}
.session-time {
  position: absolute;
  width: 80px;
  left: -100px;
  top: 60%;
  transform: translateY(0%);
  font-size: 12.75px;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 16px;
}
/*.keynote-session {
    background: rgb(1,96,186);
    background: linear-gradient(90deg, rgba(90, 42, 130, 1) 0%, rgba(76, 158, 201, 1) 51%, rgba(224, 124, 5, 1) 84%);
    padding: 5px 10px;
    color: white;
    font-size: 14px;
}*/
.session-title {
  font-size: 16px;
  font-weight: bold;
  /* margin-bottom: 15px; */
  line-height: 10px;
}
/*.keynote-session a {
    color: #fff !important;
    line-height: 18px;
    font-size: 14px;
}*/
/*.agenda-section.simple-section img.speaker-img {
    margin: -2px 0 0 0px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ddd;
   
}*/
/*.agenda-section.simple-section .speaker-image {*/
/* display: none; */
/*margin: -2px 0 0 0px;
    width: 60px;
    height: 40px;
    margin-top: 2px;
}*/
.divTable {
  display: table;
  width: 100%;
}
.divTableCell {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
}
.speaker-name-tab {
  font-weight: normal;
  margin-bottom: 0px !important;
}
.speaker-designation {
  line-height: 22px !important;
  font-size: 14px !important;
}
.session-box .session-number {
  font-weight: 600;
}
.session-box .webinar {
  color: #000;
  font-weight: 500;
}